* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.form-box{
    min-width: 100%;
    height: 100vh;
    margin: 0vw;
    padding: 5vw;
    position: relative;

}

.form-box h5{
    font-size: 35px;
    text-align: center;
    color: black;
    margin: 0 0 0.5vh 0;
}

.form-box label {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
}

.form-box input, textarea{
    display: block;
    width: 100%;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid gray

}

.form-box textarea {
    height: 15vh;
}

.submitBtn{
    display: inline-block;
    width: 30%;
    height: 2rem;
    color: blue;
    border: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    margin: 1rem 0 1rem 8rem;
    margin-left: 52%;
    border-radius: 0 20px 20px 0;
}